.wordle {
  display: flex;
  flex-direction: column;

  --color-neutral: #333;
  --color-incorrect: #a3750a;
  --color-correct: #4caf50;
}

.wordle .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.wordle .row-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.wordle__row {
  display: flex;
  flex-direction: row;
  gap: inherit;
}

.wordle__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 3px solid var(--cell-border);
  background-color: var(--cell-background);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.wordle__cell--empty {
  --cell-border: #555;
}
.wordle__cell--neutral {
  --cell-background: var(--color-neutral);
  --cell-border: var(--color-neutral);
}
.wordle__cell--incorrect {
  --cell-background: var(--color-incorrect);
  --cell-border: var(--color-incorrect);
}
.wordle__cell--correct {
  --cell-background: var(--color-correct);
  --cell-border: var(--color-correct);
}

.wordle > .used-letters {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 0.5rem;
  padding: 1rem;
}
.wordle > .used-letters > .letter {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.wordle > .used-letters > .letter--neutral {
  color: var(--color-neutral);
}
.wordle > .used-letters > .letter--incorrect {
  color: var(--color-incorrect);
}
.wordle > .used-letters > .letter--correct {
  color: var(--color-correct);
}

.wordle > #dummy-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 3px solid var(--color-neutral);
}
